*{
	margin:0;
	padding:0;
}
body{
	font: normal 14px/20px Arial, Helvetica, sams-serif;
}

.content{
	width: 1100px;
	margin: 0 auto;
	background: lightgray;
}

.content .menu{
display: block;
margin: 20px;
}

.content .goods{
	display: inline;
	margin: 20px;
}
.content img{
	/* width: 200px; */
	width: 200px;
}

 /* .content .goods .item{
	border: black solid 1px;
	display: inline;
	margin: 20px;
}   */


.slider{
	background: coral;
	width: 800px;
}

.slider picture{
	display: none;
	width: 800px;
}



.content .slider{
	height: 600px;
	background-color: lightcoral;
	position: relative; 
	transition-duration: 2s; 
}

.preview{
	list-style: none; /*ubrat' tochki*/
	display:inline-block; /*pokazivat' spisok v stroku*/

}

.dots {
	margin-top: 20px;
text-align: center;	
}

.dots a{
	display:inline;
	margin: 20px;	
}



#left_arrow{
	float: left;
	padding-top: 210px;
	position: absolute;
	left:10px;
}

#right_arrow{
	float: right;

	padding-top: 210px;
	position: absolute;
	left:662px;
}

